.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3lvh;
    justify-content: space-between;
    list-style-type: none; 
    background-color: rgb(239, 217, 187);
    padding: 5lvh;
    padding-top: 10lvh;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  
  .books-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30lvh;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    cursor: pointer;
  }
  
  .books-list img {
    max-width: 100%;
    height: auto;
    border-radius: 4px; 
}
  
  .books-list .info {
    text-align: center; 
    margin-top: 3lvh;
  }
  
  .books-list h4 {
    margin: 1lvh; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: wrap;
  }
  