.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3lvh;
    justify-content: space-between;
    list-style-type: none; 
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  
  .books-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30lvh;
    border: 1px solid #ddddddac;
    border-radius: 8px;
    padding: 2lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #dddddd55; 
    cursor: pointer;
  }
  
  .books-list img {
    max-width: 100%;
    height: auto;
    border-radius: 4px; 
}
  
  .books-list .info {
    text-align: center; 
    margin-top: 3lvh;
  }
  
  .books-list h4 {
    margin: 1lvh; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: wrap;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #007BFF;
  }
  