.login-container{
    display: flex;
    flex-direction: row;
    background-color: #bebaaa;
    padding: 5lvh;
    height: 90lvh;
}
.login-form {
    flex: 1;                   
    background-color: #d5d1c2;   
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;
    box-sizing: border-box; 
    padding-top: 2lvh;
    padding-bottom: 2lvh;
    box-shadow: 1px 1px 5px 1px #393838;
}

.login-photo {
    flex: 2;                     
    background-image: url('/Library.jpg');  
    background-position: center; 
    background-size: cover;
    box-shadow: 1px 1px 5px 1px #393838;
}
.login-label{
    margin: 10px;
    font-size: 20px;
}

.login-input{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.login-button{
    margin-top: 4lvh;
    padding: 1lvh;
    font-size: 20px;
    background-color: #4caf50;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
}

.login-button:hover{
    background-color: #badc33;
    color: black;
    box-shadow: 1px 1px 2px 1px #504c4c;
}

.login-or{
    margin: 2lvh;
    margin-left: 3lvh;
}

.login-text{
    margin: 2lvh;
    font-size: 17px;
    .gicon{
        margin-right: 1lvh;
        color: rgb(59, 59, 218);
    }
}

.login-h1{
    margin-bottom: 3lvh;
}