.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, height 0.3s ease;
    height: 300px; 
    width: 100%;
    overflow: hidden;
}

.header.shrink {
    height: 150px; 
}

.header-background {
    background-image: url('/Library.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    transition: all 0.3s ease;
}

.header-background {
    background-image: url('/Library.jpg'); 
    background-size: cover;
    background-position: center;
    height: 300px; 
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;   
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: normal;
    color: #bebaaa; 
    text-shadow: 1px 1px 2px #bebaaa; 
}

.logo::before {
    content: '';
    display: inline-block;
    width: 50px; 
    height: 50px;
    margin-right: 10px;
    background-image: url('/Icon.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #bebaaa;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #605d4f; 
}

.header-actions {
    display: flex;
    align-items: center; 
    gap: 15px;
}

.theme-toggle {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #bebaaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
}

.theme-toggle-icon {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.theme-toggle.dark {
    background-color: #333;
}

.theme-toggle.dark .theme-toggle-icon {
    transform: translateX(30px);
}

.theme-toggle.light .theme-toggle-icon {
    transform: translateX(0);
}

.theme-toggle.light:hover {
    background-color: #605d4f;
}

.theme-toggle .theme-toggle-icon {
    position: relative;
    transition: transform 0.3s ease;
}

.avatar-container {
    display: inline-block; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.avatar svg {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
}
.profile_picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
