* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

body.light {
  background-color: #bebaaa; 
  color: #000;
}

body.dark {
  background-color: #000; 
  color: #bebaaa; 
}

body.dark .nav-links a {
  color: #bebaaa;
}

body.dark .theme-toggle {
  background-color: #333;
}

body.light .theme-toggle {
  background-color: #bebaaa;
}
